/* shared style */

body{
    font-family: 'Lato', sans-serif;
}
.section-tittle{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.section-para{
    color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/* nav related css */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
.nav-tittle{
color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
}

.text-color{
    color:#FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: lightslategrey;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

/* header realted style */

.header{
    background-color: #FFF8F3;
    background-image: url('../my-portfolio/images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left ;

}

.banner-content{
    max-width: 500px;
}

.banner{
    padding: 30px 10px 0px 150px ;
    display: flex;
    justify-content: space-between;
}
.banner .profilepic{
    width: 300px;
}
.banner-gretting{
    font-size: 30px;
    color: #464646;
    margin-bottom: 0;

}
.banner-tittle{
    font-size: 80px;
    font-weight: 600%;
    margin-top: 5px;

}

/* main section style */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about scetion style*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}
.aboutinfo-container{
    display: flex;
    justify-content: space-around;
}
.aboutinfo{
    text-align: center;
}

/* what i do realted  */

#whatido-desc{
    padding: 30px 150px;
}

.skill-desc{
    display: flex;
    gap: 25px;

}
.skill{
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-p{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
/* resume section style */
.resume-ctittle{
    color: var(--Dark-02, #474747);
font-size: 30px;
font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 100px;
}
.desrciption , .resume-item-inst{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
}
.resume-item-title{
    color: #474747;
font-size: 25px;
font-weight: 700;
}
.resume-container hr{
    margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style */

footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 100px 50px;
}
.footer-column{
    width: 50%;
}

.social-link a{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    background: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;

}